div {
    margin: auto;
}

.card {
    background: linear-gradient(320deg, hsl(290, 27%, 71%), 
            hsl(285, 23%, 64%), hsl(309, 63%, 81%), hsl(276, 35%, 79%), 
            hsl(205, 57%, 81%), hsl(197, 44%, 86%));
    margin-top: 5%;
    box-shadow: 10px 10px 5px #c4c4c4;
    font-size: 20px;
}

.form-row {
    padding-bottom: 3%;
}

#submit-button {
    width: 75%;
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
}