body {
    background: linear-gradient(320deg, rgb(226, 226, 192), rgb(255, 255, 238), 
            rgb(255, 255, 246));
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
}

h1 {
    font-size: 65px;
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
a:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(74, 11, 99);
}
a:active {
    text-decoration: none;
    font-weight: bold;
    color: rgb(109, 2, 151);
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* class styles */

.title {

}

.nav-buttons {
    
}

.cards-div {
    background: linear-gradient(320deg, hsl(290, 27%, 71%), 
            hsl(285, 23%, 64%), hsl(309, 63%, 81%), hsl(276, 35%, 79%), 
            hsl(205, 57%, 81%), hsl(197, 44%, 86%));
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 45%;
    height: auto;
    min-height: 200px;
    min-width: 250px;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 10px 10px 5px #8a6384;
    background: linear-gradient(320deg, rgb(239, 239, 217), rgb(250, 250, 237), 
            rgb(248, 248, 241));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

/* id styles */

#top-of-page {
    align-items: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

#navbar {
    background: linear-gradient(320deg, hsl(290, 27%, 71%), 
            hsl(285, 23%, 64%), hsl(309, 63%, 81%), hsl(276, 35%, 79%), 
            hsl(205, 57%, 81%), hsl(197, 44%, 86%));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    padding: 1% 3%;
    border: 3px groove rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 10px 10px 5px #c4c4c4;
}

#info {
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
}